<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="E:\git\python\project\learning_log\11_env\Scripts\learning_log\learning_logs\templates\learning_logs\testcs.css"/>
        <title>this is a html test</title>
    </head>
    <body>
     <div class="links">
         <img src=""
        <ul>
            <li> <a href="https://www.google.com" target="_blank">谷歌</a></li>
            <li> <a href="https://cn.bing.com" target="_blank">必应</a></li>
            <li> <a href="https://www.github.com" target="_blank">github</a></li>
            <li> <a href="https://www.twitter.com" target="_blank">推特</a></li>
        </ul>
    </div>
        <h1>这是一个很大的网站！</h1>
        <h2>我的目标是什么？</h2>
        <h2>目标是100W的年薪</h2>
        <span>zero</span>
        <span>2018年4月2日</span>
        <p>我要变强，我要变强，我要变强，我要变强，我要变强，我要变强，我要变强，我要变强，我要变强</p>
        <p>什么是信息安全？</p>
        <p>安全的学习，<a href="http://www.freebuf.com" target="_blank">这是安全学习的好在地方</a>,
            这是一个<strong>粗体</strong>,<em>我是个斜体</em>
        </p>
        <p>来一张图片</p>
        <img src="http://image.3001.net/images/20180331/15224984443165.jpg" alt="安全">
        <p>我要变强，我要变强，我要变强，我要变强，我要变强，我要变强，我要变强，我要变强，我要变强
            我要变强，我要变强，我要变强，我要变强，我要变强，我要变强，我要变强，我要变强，我要变强
            我要变强，我要变强，我要变强，我要变强，我要变强，我要变强，我要变强，我要变强，我要变强
            <strong>这是粗体,</strong> <b>这是b标签</b>
        </p>
        <h3>文章的3级标签</h3>
        <h4>文章的4级标签</h4>
        <p>这是有序列表</p>
        <ol>
            <li>信息收集</li>
            <li>漏洞挖掘</li>
            <li>漏洞利用</li>
            <li>上传木马</li>
            <li>留后门</li>
            <li>内网渗透</li>
            <li>清理痕迹</li>
        </ol>
        <div>
            <h3>图片</h3>
            <ul>
                <p>好看的图片</p>
                <img src="http://image.3001.net/images/20180331/15224984443165.jpg" alt="安全">
                <p>我不会缩进但会用& nbsp&nbsp;hahahahahah</p>
                <p><img src="http://image.3001.net/images/20180331/15224984443165.jpg" alt="google"></p>
            </ul>
        </div>
        <div id="two pictures">
            <ul>
                <h3></h3>
                <li><p>图片</p><img src="http://image.3001.net/images/20180331/15224984443165.jpg" alt="hah"></li>
            </ul>
        </div>
        <!--4行3列表格  -->
        <div id="table">
            <h2>到最后了</h2>
            <h3>表格来了</h3>
            <table border="1">
                <tr>
                        <td>标题1</td>
                        <td>标题2</td>
                        <td>标题3</td>
                </tr>
                <tr>
                        <td>hahahahahahah</td>
                        <td>hahahahahahaah</td>
                        <td><a href="https://www.google.com">google</a></td>
                </tr>
                <tr>
                        <td>asdfsadf</td>
                        <td>asdfsafsad</td>
                        <td>asdfsafsaf</td>
                </tr>
                <tr>
                        <td>快要结束了</td>
                        <td colspan="2">yes,it is over!</td>
                </tr>
            </table>
        </div>
        <!-- 各种输入框-->
        <div id="input">
            <h2>输入框来了</h2>
            <ul>
                    <label for="eamil">请输入邮箱地址：</label>
                    <input type="text" placeholder="请输入邮箱地址" id="eamil">
                    <p>请按邮箱地址正确的去输入</p>
                    <label for="email_passwd">请输入邮箱密码：</label>
                    <input type="password" placeholder="输入密码" id="email_passwd">
                    <label for="repeat_passwd">请再次输入邮箱密码：</label>

                    <input type="password" id="repeat_passwd">
                    <p>password is six or sixteen</p>
            </ul>
        </div>

        <!-- 表单-->
        <div id="forms">
            <form action="">
               <label >性别：</label>
               <label for="man">男</label>
               <input type="radio" id="man" name="sexs">
                <label for="woman">女</label>
                <input type="radio" id="woman" name="sexs">
                <label for="city">城市：</label>
                <!--多选框-->
                <select name="city">
                    <option value="北京">北京</option>
                    <option value="南京">南京</option>
                    <option value="上海" selected>上海</option>
                </select>
                <!-- checkbox-->
                <label id="hobby">爱好：</label>
                <label for="runs">跑步</label>
                <input type="checkbox" name="run" id="runs">
                <label for="swims">游泳</label>
                <input type="checkbox" name="swim" id="swims">
                <label for="fishes">钓鱼</label>
                <input type="checkbox" name="fish" id="fishes">
                <!-- textarea标签-->
                <label for="information">个人描述:</label>
                <textarea rows="2" cols="40" placeholder="多行个人信息描述" id="information"></textarea>
                <input type="submit" value="提交">

            </form>
        </div>
        <footer>版权所有@zero</footer>
    </body>
</html>